body {
  min-width: 70em;
}
* {
  font-family:  nunito , fantasy;
  padding: 0.313em;
  padding-top: 0.313em;
  padding-bottom: 0.313em;
}
ul {
  text-align: center;
}
p
{
  font-size: 1em;
}
#titre {
  width: 95%;
  height:8.13em;
  border-radius: 0.625;
  background-color:#6368FF;

}
#lschapter {
  width: 95%;
  height:7.5em;
  background-color:#FFBF4F;
}
#cdchapter {
  width: 95%;
  height:13.5em;
  background-color:#C56EFF;
}
#cpchapter {
  width: 95%;
  height:1.8em;
  background-color:#44CC7F;
}
#mvchapter {
  width: 95%;
  height:7.8em;
  background-color:#7B26B2;
}
#mkdirchapter {
  width: 95%;
  height:7.5em;
  background-color:#FF544F;
}
#manchapter {
  width: 95%;
  height:1.8em;
  background-color:#B1B22D;
}
div
{
  font-size: 1em;
  border-radius: 0.625em;
  border: solid black 0.062em;
  padding: 1em;
  margin: 0.1em;
  width: 90%;
  min-width: 70em;
}
a {
  font-style: italic;
  font-weight: bold;
  font-size: 1.125em;

}
.notion {
  font-style: italic;
  font-weight: bold;
  min-width: 70em;
  background-color: black;
  border-radius: 0.625em;
  color: white;
}
h1 {
  text-align: center;
}
h3 {
  text-align: right;
  font-style: italic;
}
